.btn {
  background: var(--primary);
  border: none;
  padding: 1em;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.btn :first-child {
  margin-right: 0.5em;
}

.btn__text {
  font-weight: 700;
}

.btn--secondary {
  background: none;
  color: var(--medium-grey);
}
