.btn {
  background-color: var(--primary);
  border: none;
  padding: 1em;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn :first-child {
  margin-right: 0.5em;
}

.btn__text {
  color: white;
  font-weight: 700;
}
