.formContainer {
  width: 100vw;
  height: 80vh;

  padding: 0 5%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 36px 36px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
}

.formContainer > :last-child {
  margin: auto 0 1rem 0;
}
.page-heading {
  color: var(--primary);
  margin: min(13vh, 40%, 18vh) 0;
  font-weight: 400;
}

.forgotPassword {
  color: var(--medium-grey);
  text-decoration: none;
  margin-bottom: 2vh;
}

.inputForm {
  width: 100%;
}
.input {
  margin-bottom: 2vh;
}
