@import url("https://use.typekit.net/ftz0yem.css");

:root {
  --primary: #7bed8d;
  --lighter-grey: #f0f4f8;
  --light-grey: #dbe2ed;
  --medium-grey: #a6bcd0;
  --medium-grey-darker: #748a9d;
  --dark-grey: #4e5d6a;
  --darker-grey: #404e5a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "acumin-pro", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "acumin-pro", sans-serif;
}
